<section id="top-wrapper" class="top-wrapper">
  <div class="py-5 text-center">
    <h1 class="top-title">TWESU<strong>ME</strong></h1>
    <h4>みんなのTwitter履歴書</h4>
    <p>ポートフォリオでアピールするTwitter転職へ</p>
    <%= image_tag 'top-example.png', class:"img-thumbnail p-3", alt:"TWESUME Card Cap" %>
    <%= link_to 'auth/twitter', class:"btn btn-outline-primary btn-lg" do %>
      <%= fa_icon 'twitter', text:" でログインまたはサインイン" %>
    <% end %>
  </div>
</section>

<section id="guide" class="guide">
  <h2 class="guide-title">使い方</h2>
</section>
<%#Twitter Timeline%>
<section id="twitter-timeline" class="twitter-timeline">
<h2 class="guide-title">公式アカウント Timeline</h2>
<a class="twitter-timeline" href="https://twitter.com/twesume_app?ref_src=twsrc%5Etfw">Tweets by twesume_app</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</section>