
body{
  background-image: image-url('birds.png');
}

#twesume{
  width: 600px;
  height: 355px;
  background-image: image-url('birds.png');
  .twesume-title{
    font-size: 1.5rem;
  }
  .twesume-container{

    .twesume-element{
      width:100%;
      display:flex;
      table-layout: fixed;
      .twesume-label{
        width: 30%;
        padding-left: 5rem;
        margin-bottom: 0.5rem;
      }
    
      .twesume-item{
        width:60%;
        text-align: center;
        overflow-wrap: break-word;
        margin-bottom: 0.5rem;

      }
      #item-note{
        text-align:left;
      }

    }
  }
}

.modal-dialog{
  max-width:700px;
}



