  <footer id="footer" class="footer">
  <div class="py-3" >
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center d-md-flex align-items-center">
          <ul class="nav mx-md-auto d-flex justify-content-center">
            <li class="nav-item"><%= link_to '利用規約', terms_path, class:'nav-link' %></li>

            <li class="nav-item"><%= link_to 'プライバシーポリシー', privacy_path, class:'nav-link' %></li>
            <li class="nav-item"><%= link_to 'お問い合わせ', contact_path, class:'nav-link' %></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <p class="mt-2 mb-0">© 2018 Unio. All rights reserved</p>
        </div>
      </div>
    </div>
  </div>
  </footer>